/* -------------------------------- 
Primary style
-------------------------------- */
body {
	margin: 0px;
	padding: 0px;
	font-size: 24px;
	font-family: "Microsoft YaHei","微软雅黑","雅黑宋体","新宋体","宋体","Microsoft JhengHei","华文细黑",STHeiti,MingLiu;
	background-color: #FFFFFF;
}

div span {
	color: #009933;
}

#header_banner {
	height: 80px;
	border-bottom: 5px #009933 solid;
}

#banner_logo {
	max-width: 170px;
	width: 15%;
	height: 80px;
	background: url(../image/genedenovo_logo.png) no-repeat left top;
	background-size: 100% 80px;
	float: left;
}

#banner_title {
	width: 40%;
	text-align: center;
	font-weight: bold;
	float: left;
	margin-top: 22px;
	white-space: nowrap;
}

#banner_bg {
	max-width: 600px;
	width: 45%;
	height: 80px;
	background: url(../image/wgcna_1.jpg) no-repeat right top;
	background-size: 100% 80px;
	float: right;
}

#iframepage {
	width: 100%;
	height: 600px;
	border: none;
}