#### Species Name , also Project name
>Nicotiana_tabacum


######### your project record
denovo_record = /home/lianglili/Project_Record/all_denovo_record.xls
project_name = GDR0354-Nicotiana_tabacum-9-Denovo


######################################### Rawdata Process : Reformat, Filter, Merge for Denovo ########################################
###### Attention : At Last All fq will merged into 2 fq.gz files in FQ_for_Denovo directory ######

### 1. Beirui fastq.gz : if there's any additional sequencing data, you'd better merge them first
###    and rename as --- (*).R?.*.fastq.gz ---, otherwise I can't recognize them so I won't merge it into the fqs for denovo

### 2. Huada fq.gz : if there's any additional sequencing data, you'd better merge them first
###    and rename as --- (*)_?.fq.gz ---, otherwise I can't recognize them so I won't merge it into fq for denovo

### 3. Huada fq.tar.bz2 : if there's any additional sequencing data, you'd better merge them first
###    and rename as --- (*)_?.fq.tar.bz2 ---, otherwise I can't recognize them so I won't merge it into fq for denovo

rawdata_dir=/Bio/Project/PROJECT/GDR0354/rawdata
~~> CK1 : CK1
~~> CK2 : CK2
~~> CK3 : CK3
~~> HV1 : HV1
~~> HV2 : HV2
~~> HV3 : HV3
~~> SV1 : SV1
~~> SV2 : SV2
~~> SV3 : SV3
CPU_pre_process = 8

#### Attention : This step use fastQValidator to check fq
# /home/miaoxin/Pipeline/RNA_denovo/Add_Lib/fastQValidator | le --> You can run it without any parameters to know its usage
fq_check = yes
CPU_fq_check = 8
fqv_option = --avgQual --baseSpace --baseComposition

#### filter_fq parameters
# /home/miaoxin/Pipeline/RNA_denovo/Add_Lib/0_Filter/filter_fq | le --> You can run it without any parameters to know its usage
33_to_64 = yes
filter_fq_option = --Nrate 0.1 --Q_low 20,0.4 -t 0
CPU_filter_fq = 4


#################################### Assembly, Pick Longest Transcript ####################################

#### remove duplication or normalize reads : yes / no
rmdup = no

######### Trinity parameters
# /Bio/Bin/pipe/RNA/denovo_2.0/trinityrnaseq_r20140413/run_Trinity.sh --show_full_usage_info | le --> You can run it without any parameter to know its usage
trinity_option = --JM 50G  --seqType fq  --CPU 12 --bflyCPU 12 --min_kmer_cov 2 --path_reinforcement_distance 150 --normalize_reads --extended_lock

#### Pick Longest Transcript : yes/no
pick_longest = yes


#################################### BWT, SOAP, Coverage, RPKM, Delete Pollution ####################################

######### SOAP parameters
# /Bio/Bin/pipe/RNA/denovo_2.0/soap2.21release/soap_gz | le --> You can run it without any parameter to know its usage
# default soap parameters : -l 256 -n 5 -r 1 -m 400 -x 600 -v 5 -s 255 -g 0 -R none -e 5
soap = soap2.21
soap_option = -m 0 -x 1000 -s 40 -l 35 -v 3 -r 2


######### Delete Pollution : auto / manually
del_pol = manually

#################################### BLAST ####################################

# /home/miaoxin/Pipeline/RNA_denovo/Add_Lib/ncbi-blast-2.2.29+/bin/blastx | le --> You can run it to know its usage
cut_num = 30
e_value = 1e-5
blast_parser_option = -nohead -tophit 20 -topmatch 1

# Nr
# nr_animal / nr_plant / nr_fungi / nr_virus / nr_micro
nr_db = nr_plant
nr_processes = 6
nr_threads = 3

# KEGG
# kegg_all / kegg_animal / kegg_plant / kegg_fungi / kegg_micro
kegg_db = kegg_plant
kegg_processes = 6
kegg_threads = 3

# COG
cog_processes = 6
cog_threads = 3

# SwissProt
swsp_processes = 6
swsp_threads = 3


#################################### GO, CDS, EST, SSR ####################################

#blast2go
nr2go_option = -gvol 500

# CDS
cds_len = 100
# Find species_dir/species_name_cds.fa
species_cds_dir = /Bio/Database/Database/CDS/CDS
# You can design a series of species sperated by "," to make them be the homology species. If no, type none
designated_sp = none

#Pfam
pfam_cpu = 10

#################################### RNA seq ####################################
rna_seq = yes
