.VerticalTab {
	height: 570px;
}

ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
    font-size: 12px;
    display: inline-block;
    padding: 8px 8px;
    list-style: none;
    cursor: pointer;
    float: left;
}

.resp-tabs-container {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
	margin-bottom: -1px !important;
    padding: 12px 12px 12px 12px !important;
    border: 1px solid #009933 !important;
    border-top: 4px solid #009933 !important;
    border-bottom: 0px #fff solid !important;
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #c1c1c1;
    border-top-color: #5AB1D0;
}

h2.resp-accordion {
    font-size: 12px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 10px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 18%;
	height: 550px;
	padding-bottom: 1px;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 8px 8px !important;
    cursor: pointer;
    float: none;
	margin-right: 1px;
	margin-bottom: 1px;
}

.resp-vtabs .resp-tabs-list li:hover {
    color: #009933;
}

.resp-vtabs .resp-tabs-container {
    padding: 8px;
    background-color: #fff;
    border: 1px solid #009933 !important;
    float: left;
    width: 82%;
    height: 550px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active { 
position: relative;
padding: 12px 12px !important;
border: 1px solid #009933 !important;
border-left: 6px solid #009933 !important;
border-right: 6px solid #009933 !important;
margin-bottom: 1px;
color: #009933;
font-size: 14px;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB;/* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;/* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;/* !important;*/
}
